---
layout: default
---
{% include header.html %}
<div class="content list">
{% if site.posts.size == 0 %}
  <h2>No post found</h2>
{% else %}
<h2>Archive</h2>
{% for post in site.posts %}
  <div class="list-item">
    <span class="list-post-date">
      <time>{{ post.date | date_to_string }}</time>
    </span>
    <p class="list-post-title">
      <a href="{{ site.url }}{{ post.url }}">{{ post.title }} - <strong>Play</strong></a>
    </p>
    
    <p class="contenteditable">stuff</p>

  </div>
{% endfor %}
{% endif %}
</div>
