<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600">
  <link rel="stylesheet" href="{{ site.url }}/css/main.css">
  <link rel="stylesheet" href="{{ site.url }}/css/audioplayer.css">
  </head>

<!-- Background images -->
<!-- <body class="white bg-gray bg-cover bg-top"
style="background-image: url({{ site.url }}/images/giphy.gif)"> -->

<body class="fw-100">



    {{ content }}




  <!-- JS -->
  <script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
  <!-- Thanks dude: http://osvaldas.info/audio-player-responsive-and-touch-friendly -->
  <script src="{{ site.url }}/js/audioplayer.js"></script>
  <script>
  $( 'audio' ).audioPlayer(
  {
      classPrefix: 'audioplayer',
      strPlay: 'Play',
      strPause: 'Pause',
      strVolume: 'Volume'
  });
  </script>

</body>
</html>
